<!doctype html>
<html lang="en">
    <!-- Take this settings with a grain of salt, I have not much experience with CSS and Tailwind -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ basics.name }} - Resume</title>
        <!-- Fonts and Styles -->
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;300;400;500;700&display=swap"
              rel="stylesheet">
        <link href="./static/css/tailwind.css" rel="stylesheet">
        <style>
            @media print {
                @page {
                    size: A4;
                    margin: 0.3cm;
                }

                body, .max-w-4xl {
                    background: none !important;
                    box-shadow: none !important;
                    padding: 9pt !important;
                    font-size: 9pt !important;
                }

                .max-w-4xl { padding: 0 !important }

                /* Font sizes */
                h1 { font-size: 24pt; }
                h2 { font-size: 12pt; }
                h3, p, span, a { font-size: 9pt; }
                ul.list-disc { font-size: 9pt; }

                /* Utility classes */
                .text-4xl { font-size: 20pt; }
                .text-2xl { font-size: 12pt; }
                .text-base { font-size: 12pt; }
                .ml-8 { font-size: 9pt; }
                .no-print { display: none !important; }

                /* Element alignment and spacing */
                h1 { white-space: nowrap; }
                .mt-8 { margin-top: 0 !important; }
                .mt-10 { margin-top: 0 !important; }
                .mb-1 { margin-bottom: 0 !important; }
                 li { line-height: 1.1 !important; margin-bottom: 4px !important }
                 p { line-height: 1.1 !important; }

                /* Page-break management */
                li, div { break-inside: avoid; }
            }
        </style>
    </head>
    <body class="bg-slate-100 font-ubuntu font-normal">
            <!-- Language Links -->
    <div class="max-w-4xl mx-auto top-3 right-3 space-x-2 flex sm:p-0 p-3 items-center justify-end">
        <a href="./index.html" class="no-underline">English</a>
        <img src="./static/icons/language-icon.svg"  class="h-10    w-10" alt="Select Language">
        <a href="./index_de.html" class="no-underline">Deutsch</a>
    </div>
        <!-- Main Container -->
        <div class="max-w-4xl mx-auto sm:p-6 p-3 pt-0 bg-white shadow-lg rounded-lg mt-5 mb-10">
            <!-- Parent Container -->
            <div class="flex flex-col sm:flex-row gap-4">
                <!-- Left Column (First on Mobile, First on Desktop) -->
                <div class="flex flex-col gap-2 flex-1 order-1 justify-between">
                    <!-- Top Field -->
                    <div class="text-slate-800 font-bold italic"
                         style="white-space: pre-wrap">{{ basics.summary }}</div>
                    <!-- Bottom Fields -->
                    <div class="flex gap-2">
                        {% for profile in basics.profiles %}
                            <div class="flex-1">
                                <a href="{{ profile.url }}"
                                   class="no-underline inline-flex items-center gap-1">
                                    <img src="./static/icons/{{ profile.network | lower }}.svg"
                                         class="h-5 w-5"
                                         align-middle
                                         text-current
                                         alt="{{ profile.network }} Icon">
                                    <span class="text-base align-middle">{{ profile.network }}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Right Column (Moves to Bottom on Small Screens, Second on Larger Screens) -->
                <div class="flex flex-col justify-between text-right order-2 sm:order-last pl-6 sm:pl-0">
                    <div>
                        <h1>{{ basics.name }}</h1>
                        <p>{{ basics.label }}</p>
                        <p>{{ basics.location.address }}</p>
                        <p>{{ basics.location.postalCode }} {{ basics.location.city }}</p>
                        <p>E-Mail: {{ basics.email }}</p>
                    </div>
                    <p>{{ basics.phone }}</p>
                </div>
            </div>
            <!-- Work Experience Section -->
            <div class="mt-8">
                <h2>Work Experience</h2>
                <ul class="space-y-4">
                    {% for job in work %}
                        <li>
                            <div class="sm:flex flex-row justify-between items-center">
                                <h3>
                                    {{ job.position }}
                                    {% if job.name %} | {{ job.name }}{% endif %}
                                    {% if job.location %} | {{ job.location }}{% endif %}
                                </h3>
                                <p>{{ job.startDate }} – {{ job.endDate }}</p>
                            </div>
                            <p class=" font-bold leading-relaxed ml-1 mb-1">{{ job.summary | safe }}</p>
                            <ul class="list-disc list-outside ml-4 mt-2 space-y-2">
                                {% for highlight in job.highlights %}<li>{{ highlight | safe }}</li>{% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Education Section -->
            <div class="mt-8">
                <h2>Education</h2>
                <ul class="space-y-4">
                    {% for degree in education %}
                        <li>
                            <div class="sm:flex flex-row justify-between items-center">
                                <h3>{{ degree.area }}</h3>
                                <p>{{ degree.startDate }} – {{ degree.endDate }}</p>
                            </div>
                            <p class="font-bold leading-relaxed ml-1 mb-1">
                                {{ degree.institution }}, {{ degree.location }}
                                {% if degree.studyType %} | {{ degree.studyType }}{% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Skills Section -->
            <div class="mt-8">
                <h2>Skills and Experience</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-2">
                    {% for skill in skills %}
                        <div class="p-[3px] border-b border-gray-300">
                            <div class="flex items-center justify-between">
                                <div class="font-semibold text-slate-700 shrink grow-0">{{ skill.name }}</div>
                                <div class="text-right text-slate-700 pl-2">
                                    {{ skill.keywords | join(", ") | replace('\n, ',',<br>') }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Language Section -->
            <div class="mt-8">
                <h2>Languages</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-2">
                    {% for language in languages %}
                        <div class="p-[3px] border-b border-gray-300">
                            <div class="flex items-center justify-between">
                                <span class="font-semibold text-slate-700 pr-4">{{ language.language }}</span>
                                <span class="text-right text-slate-700 ">{{ language.fluency }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
